<h1 id="tableLabel">Book Covers</h1>

<p>This component demonstrates fetching book covers.</p>

<p *ngIf="!bookCovers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bookCovers">
  <thead>
    <tr>
      <th>BookCoverId</th>
      <th>Title</th>
      <th>AuthorName</th>
      <th>ThumbnailUrl</th>
      <th>ImageUrl</th>
      <th>PortfolioOrder</th>
      <th>ShowInPortfolio</th>
      <th>GenreId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookCover of bookCovers">
      <td>{{ bookCover.bookCoverId }}</td>
      <td>{{ bookCover.title }}</td>
      <td>{{ bookCover.authorName }}</td>
      <td>{{ bookCover.thumbnailUrl }}</td>
      <td>{{ bookCover.imageUrl }}</td>
      <td>{{ bookCover.portfolioOrder }}</td>
      <td>{{ bookCover.showInPortfolio }}</td>
      <td>{{ bookCover.genreId }}</td>
    </tr>
  </tbody>
</table>
