@import 'colors.scss';
@import "login.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $dark-primary-color;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
   text-decoration: underline;
 }
}

* {
  box-sizing: border-box;
}

form {
  max-width: 600px;
}

label{
	color: $dark-primary-color;
}

.error-text{
	color: $error-red;
	font-size: smaller;
}

a.link-hover:hover {
  text-decoration: underline;
}

.add-button {
	margin-bottom: 16px;
}

.nav-link {
  color: white;
}

.pageRoot{
    margin-top: 40px;
    margin-left: 20px;
}