.loginFormContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	height: 100%;
}

.loginForm {
	width: 420px;
	box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
	padding-top: 30px;
	padding-bottom: 20px;
	border-radius: 8px;
	background-color: white;
	opacity: 1;
}

.loginFormContent {
	padding-left: 12%;
	padding-right: 12%;
}

.loginFormTitle {
	text-align: center;
	margin-bottom: 1em;
	font-size: 24px;
	color: rgb(34, 34, 34);
	font-weight: 800;
}

.label {
	font-size: 14px;
	font-weight: 600;
	color: rgb(34, 34, 34);
}

.background {
	background-image: url('../../public/images/outside_castle_hero.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.background-gradient{
    background-attachment: fixed;
	background-color: rgba(105, 105, 105, 0.3);
	background: linear-gradient(0deg, rgba(0, 96, 141, 0.425) 0%, rgba(31, 209, 233, 0.418) 50%);  
	height: 100%;
	width: 100%;
}